<h2>{{userName}} profile</h2>
<h3>Welcome, {{firstName}}! Here you can see your info and update it, if you want to.</h3>
<div id="profile-container">
    <form [formGroup]="updateForm" (ngSubmit)="update()" id="update-form">
        <mat-form-field appearance="outline" color="accent">
            <mat-label>User name:</mat-label>
            <input matInput id="userName" formControlName="userName"
                    required
                    type="text">
                    <mat-error>
                        Please, write a valid user name
                    </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>First name:</mat-label>
            <input matInput id="firstName" formControlName="firstName" 
                required
                type="text">
                    <mat-error>
                        Please, write a valid first name
                    </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Last name:</mat-label>
            <input matInput id="lastName" formControlName="lastName"
                    required
                    type="text">
                    <mat-error>
                        Please, write a valid last name
                    </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Email:</mat-label>
            <input matInput id="email" formControlName="email"
                    required
                    type="email">
                    <mat-error>
                        Please, write a valid email address
                    </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Phone number:</mat-label>
            <input matInput id="phoneNumber" formControlName="phoneNumber"
                    required
                    type="tel"
                    pattern="[0-9]+">
                    <mat-error>
                        Please, write a valid phone number
                    </mat-error>
        </mat-form-field>
        <mat-error *ngIf="error!=''">
            {{error}}
          </mat-error>
        <button mat-raised-button [disabled]="!updateForm.valid"> 
            Update
            <mat-icon>sync</mat-icon>
        </button>
    </form>
    <button mat-raised-button class="addition-button" routerLink="/change-password"> 
        Change password
        <mat-icon>fingerprint</mat-icon>
    </button>
    <button mat-raised-button class="addition-button" (click)="deleteAccount()"> 
        Delete account
        <mat-icon>delete_outline</mat-icon>
    </button>
</div>