#change-password-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    overflow: auto;
    color: white;
}

#change-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 50%;
    color: white;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick, .mat-error{
    color: #590d22;
}

.mat-raised-button{
    color: white;
    background-color: #353535;
    margin-bottom: 2vh;
}