<div id="change-password-container">
    <h2>Change password</h2>
    <form [formGroup]="changeForm" (ngSubmit)="changePassword()" id="change-form">
        <mat-form-field appearance="outline" color="accent">
        <mat-label color="accent">Write your current password</mat-label>
        <input matInput formControlName="oldPassword"
                type="password"
                required
                placeholder="Old password">
                <mat-error>
                Please, write a valid password
                </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
        <mat-label>Write your new password</mat-label>
        <input matInput formControlName="newPassword"
                type="password"
                required
                placeholder="New password">
                <mat-error>
                Please, write a valid password
                </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Please, write new password again</mat-label>
            <input matInput formControlName="newPasswordAgain"
                    type="password"
                    required
                    placeholder="New password again">
                    <mat-error>
                    Please, write a valid password
                    </mat-error>
            </mat-form-field>

        <mat-error *ngIf="error!=''">
            {{error}}
        </mat-error>
        <button mat-raised-button 
        [disabled]="!changeForm.valid || changeForm.value.newPassword != changeForm.value.newPasswordAgain"> 
        Change password</button>
    </form>
  
</div>