.mat-card{
    background-color: #D9D9D9;
    margin-top: 1vh;
    color: #353535;
    width: 80%;
}
.chats-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: hidden;
    color: white;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header h1, .header p{
    margin-bottom: 0;
}

.error-message{
    text-align: center;
    margin-top: 10vh;
    font-size: 9vh;
    line-height: 10vh;
}
.chat-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2vh;
    width: 50%;
    height: 50%;
    color: white;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick, .mat-error{
    color: #590d22;
}

.mat-raised-button{
    background-color: #353535;
    margin-bottom: 2vh;
}