<div id="friends-container">
    <mat-tab-group mat-align-tabs="center" (selectedTabChange)="updateAll()">
        <mat-tab label="My friends">
            <p class="error-message" *ngIf="friendsError != ''">
                You do not have any friend yet. You can find someone, using our search filters.
            </p>
            <div *ngIf="friendsError == ''" class="users-profiles">
                <friend-profile *ngFor="let user of friends" [User] = "user"></friend-profile>
            </div>
        </mat-tab>
        <mat-tab label="My invitations">
            <p class="error-message"*ngIf="invitationsError != ''">
                You do not have any invitations yet. You can find someone and make first step.
            </p>
            <div *ngIf="invitationsError == ''" class="users-profiles">
                <friend-profile *ngFor="let user of receivedInvitations" [User] = "user"></friend-profile>
            </div>
        </mat-tab>
        <mat-tab label="Sent invitations">
            <p class="error-message" *ngIf="invitedError != ''">
                You do not have any unconfirmed invitations. All invited users are your friends now, you can make new friends.
            </p>
            <div *ngIf="invitedError == ''" class="users-profiles">
                <friend-profile *ngFor="let user of sentInvitations" [User] = "user"></friend-profile>
            </div>
        </mat-tab>
        <mat-tab label="Search users">
            <search></search>
        </mat-tab>
      </mat-tab-group>   
</div>