#friends-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: auto;
    color: white;
}
.mat-tab-group{
    margin-top: 2vh;
    width: 80%;
}
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar{
    background-color: #D9D9D9;
}
.error-message{
    text-align: center;
    margin-top: 10vh;
    font-size: 9vh;
    line-height: 10vh;
}
.users-profiles{
    margin-top: 2vh;
}
