<h3>Welcome! Here you can enter your info and register in our network.</h3>
<div id="register-container">
    <form [formGroup]="registerForm" (ngSubmit)="register()" id="register-form">
        <mat-form-field appearance="outline" color="accent">
            <mat-label>User name:</mat-label>
            <input matInput id="userName" formControlName="userName"
                    required>
                    <mat-error>
                        Please, write a valid user name
                    </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>First name:</mat-label>
            <input matInput id="firstName" formControlName="firstName" required>
                    <mat-error>
                        Please, write a valid first name
                    </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Last name:</mat-label>
            <input matInput id="lastName" formControlName="lastName"
                    required>
                    <mat-error>
                        Please, write a valid last name
                    </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Email:</mat-label>
            <input matInput id="email" formControlName="email"
                    required
                    type="email">
                    <mat-error>
                        Please, write a valid email address
                    </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Phone number:</mat-label>
            <input matInput id="phoneNumber" formControlName="phoneNumber" 
                    required
                    type="tel">
                    <mat-error>
                        Please, write a valid phone number
                    </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Password:</mat-label>
            <input matInput id="password" formControlName="password" 
                    required 
                    type="password">
                    <mat-error>
                        Please, write a valid password
                    </mat-error>
        </mat-form-field>
        <mat-error *ngIf="error!=''">
            {{error}}
          </mat-error>
        <button mat-raised-button [disabled]="!registerForm.valid"> 
            Register
            <mat-icon *ngIf="registerForm.valid">done_outline</mat-icon>
        </button>
      </form>
</div>